.jumbotron{
    widows: 150px;
    height: 150px;
    justify-content: center;
}

.row{
    justify-content: center;
}

.chart-container {
    width: 100%;
    height: 200px;
}

.highcharts-figure {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.highcharts-figure,
.highcharts-data-table table {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    }