<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Nemlig App</title>

    <!-- CSS -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">

    <!-- Bootstraps Java Scipts Links -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <!-- JQuery links  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!--High CHART  -->
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/highcharts-more.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>

</head>

<body>
    <div class="jumbotron">
        <h1 class="text-center text-black">Sensor data</h1>
    </div>

  
    <!--Dropdown menu-->
    <div class="dropdown text-center">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Temperature
        </button>

        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <option></option><a href=# id=02><button class='btn btn-default'>0-2 grader (fisk)</button></a>
            <option></option><a href=# id=35><button class='btn btn-default'>3-5 grader (mælk)</button></a>
            <option></option><a href=# id=68><button class='btn btn-default'>6-8 grader (grønt)</button></a></div></div>

        </div>
    </div>

    <!-- Scripts for handling the buttons on dropdowns -->
    <script type=text/javascript>
        $(function() {
            $('a#02').on('click', function(e) {
                e.preventDefault()
                $.getJSON('/option1',
                    function(data) {
                    //do nothing
                });
                return false;
            });
        });
        $(function() {
            $('a#35').on('click', function(e) {
                e.preventDefault()
                $.getJSON('/option2',
                    function(data) {
                    //do nothing
                });
                return false;
            });
        });
        $(function() {
            $('a#68').on('click', function(e) {
                e.preventDefault()
                $.getJSON('/option3',
                    function(data) {
                    //do nothing
                });
                return false;
            });
        });
    </script>
    
    <!-- Gauges -->
    <figure class="highcharts-figure">
        <div id="container-temp" class="chart-container"></div>
        <p class="highcharts-description text-center" id="lastUpdate">Test</p>
    </figure>

    <hr class="my-4">

    <!-- Chart 1 -->
    <div class="container-fluid">
        <div class="row">
            <div class="container-fluid" id="data-temperature">
            </div>
        </div>
    </div>

    <script>
        var chartTemperature;

        function requestData()
        {
            // DB data from flask
            var requests = $.get('/data');

            var tm = requests.done(function (result)
            {
                // Temperature data for chart
                var shiftTemperature = chartTemperature.series[0].data.length > 20;

                // Chart time and temperature
                var data1 = [];
                data1.push(result[0]);
                data1.push(result[1]);

                chartTemperature.series[0].addPoint(data1, true, shiftTemperature);
                document.getElementById("lastUpdate").innerHTML = "Last sensor reading was at: " + data1[0]

                // Gauge temp
                var point;

                if (chartTemp) {
                    point = chartTemp.series[0].points[0];
                    point.update(Math.round(data1[1]));
                }


                // run every x seconds
                setTimeout(requestData, 10000);

            });
        }

        $(document).ready(function()
        {
            Highcharts.setOptions({
                time: {
                    timezone: 'Europe/Berlin'
            }
            });
            // -------------- Chart 1 ----------------------------
            chartTemperature = new Highcharts.Chart({
                chart:
                    {
                    renderTo: 'data-temperature',
                    defaultSeriesType: 'area',
                    events: {
                        load: requestData
                            }
                    },
                title:
                    {
                    text: 'Graph of box readings'
                    },
                xAxis: {
                    type: 'category'
                        },
                yAxis: {
                    minPadding: 0.2,
                    maxPadding: 0.2,
                    title: {
                        text: 'Celsius',
                        margin: 20
                            }
                         },
                series: [{
                    color : '#c23d23',
                    lineColor: '#303030',
                    name: 'Temperature',
                    data: []
                }]
            });
        });

        // Visual gauge options

        var gaugeOptions = {
            chart: {
                type: 'solidgauge'
            },

            title: null,

            pane: {
                center: ['50%', '85%'],
                size: '140%',
                startAngle: -90,
                endAngle: 90,
                background: {
                    backgroundColor:
                        Highcharts.defaultOptions.legend.backgroundColor || '#EEE',
                    innerRadius: '60%',
                    outerRadius: '100%',
                    shape: 'arc'
                }
            },

            exporting: {
                enabled: false
            },

            tooltip: {
                enabled: false
            },

            yAxis: {
                minColor: "#0000ff",
                maxColor: "#ff0000",
                lineWidth: 0,
                tickWidth: 0,
                minorTickInterval: null,
                tickAmount: 2,
                title: {
                    y: -70
                },
                labels: {
                    y: 16
                }
            },

            plotOptions: {
                solidgauge: {
                    dataLabels: {
                        y: 5,
                        borderWidth: 0,
                        useHTML: true
                    }
                }
            }
        };

        // Temp gauge
        var chartTemp = Highcharts.chart('container-temp', Highcharts.merge(gaugeOptions, {
            yAxis: {
                min: 0,
                max: 30,
                title: {
                    text: 'Temperature'
                }
            },

            credits: {
                enabled: false
            },

            series: [{
                name: 'temp',
                data: [null],
                dataLabels: {
                    format:
                        '<div style="text-align:center">' +
                        '<span style="font-size:25px">{y}</span><br/>' +
                        '<span style="font-size:12px;opacity:0.4">°C</span>' +
                        '</div>'
                },
                tooltip: {
                    valueSuffix: ' °C'
                }
            }]
        }));
    </script>
</body>

</html>