<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Nemlig App</title>

    <!-- CSS -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">

    <!-- Bootstraps Java Scipts Links -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <!-- JQuery links  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!--High CHART  -->
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/highcharts-more.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>

    <!--Timezone manager-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.13/moment-timezone-with-data-2012-2022.min.js"></script>

</head>

<body>
    <div class="jumbotron">
        <h1 class="text-center text-white">Headline</h1>
    </div>
    <br>
    <br>
  
    <figure class="highcharts-figure">
        <div id="container-temp" class="chart-container"></div>
        <div id="container-rpm" class="chart-container"></div>
        <p class="highcharts-description">
            Chart demonstrating solid gauges with dynamic data. Two separate charts
            are used, and each is updated dynamically every few seconds. Solid
            gauges are popular charts for dashboards, as they visualize a number
            in a range at a glance. As demonstrated by these charts, the color of
            the gauge can change depending on the value of the data shown.
        </p>
    </figure>

    <div class="container-fluid">

        <div class="row">
            <div class="col-5 jumbotron p-2 mx-1">
                <h1 class="sensor1"> Sensor : </h1>
            </div>
            <br>

            <div class="col-5 jumbotron p-2 mx-1">
                <h1 class="sensor2">Sensor :</h1>
            </div>
            <br>
        </div>
    </div>

    <div class="container-fluid">
        <!-- Example row of columns -->
        <div class="row">
            <div class="container-fluid" id="data-temperature">

            </div>
        </div>
    </div>
<br>
<br>
<br>

    <div class="container-fluid">
        <!-- Example row of columns -->
        <div class="row">
            <div class="container-fluid" id="data-humidity">

            </div>
        </div>
    </div>


    <script>
        var chartTemperatue;
        var chartHumidity;

        function requestData()
        {
            // Ajax call to get the Data from Flask
            var requests = $.get('/data');

            var tm = requests.done(function (result)
            {
                // Temperature
                var seriesTemperature = chartTemperatue.series[0],
                    shiftTemperature = seriesTemperature.data.length > 20;

                // Humidity
                var seriesHumidity = chartHumidity.series[0],
                    shiftHumidity = seriesHumidity.data.length > 20;

                // Add the Point
                // Time Temperature\
                var data1 = [];
                data1.push(result[0]);
                data1.push(result[1]);


                // Add the Point
                // Time Humidity
                var data2 = [];
                data2.push(result[0]);
                data2.push(result[2]);


                chartTemperatue.series[0].addPoint(data1, true, shiftTemperature);
                chartHumidity.series[0].addPoint(data2, true, shiftHumidity);
                $(".sensor1").text("");
                $(".sensor1").text("Temperature : " +  Math.round(data1[1]) );

                $(".sensor2").text("");
                $(".sensor2").text("Humidity : " +  Math.round(data2[1]) );

                // call it again after TEN second
                setTimeout(requestData, 10000);

            });
        }

        $(document).ready(function()
        {
            Highcharts.setOptions({
                time: {
                    timezone: 'Europe/Berlin'
            }
            });
            // --------------Chart 1 ----------------------------
            chartTemperatue = new Highcharts.Chart({
                chart:
                    {
                    renderTo: 'data-temperature',
                    defaultSeriesType: 'area',
                    events: {
                        load: requestData
                            }
                    },
                title:
                    {
                    text: 'Temperature'
                    },
                xAxis: {
                    type: 'datetime',
                    tickPixelInterval: 150,
                    maxZoom: 20 * 1000
                        },
                yAxis: {
                    minPadding: 0.2,
                    maxPadding: 0.2,
                    title: {
                        text: 'Value',
                        margin: 80
                            }
                         },
                series: [{
                    color : '#c23d23',
                    lineColor: '#303030',
                    name: 'Temperature',
                    data: []
                }]
            });

            // --------------Chart 2 Starts - -----------------
            chartHumidity = new Highcharts.Chart({
                chart:
                    {
                        renderTo: 'data-humidity',
                        defaultSeriesType: 'area',
                        events: {
                            load: requestData
                        }
                    },
                title:
                    {
                        text: 'Humidity'
                    },
                xAxis: {
                    type: 'datetime',
                    tickPixelInterval: 150,
                    maxZoom: 20 * 1000
                },
                yAxis: {
                    minPadding: 0.2,
                    maxPadding: 0.2,
                    title: {
                        text: 'Value',
                        margin: 80
                    }
                },
                series: [{
                    lineColor: '#1d82b8',
                    name: 'Humidity',
                    data: []
                }]
            });


        });

        /* Gauge Scripts */

        var gaugeOptions = {
            chart: {
                type: 'solidgauge'
            },

            title: null,

            pane: {
                center: ['50%', '85%'],
                size: '140%',
                startAngle: -90,
                endAngle: 90,
                background: {
                    backgroundColor:
                        Highcharts.defaultOptions.legend.backgroundColor || '#EEE',
                    innerRadius: '60%',
                    outerRadius: '100%',
                    shape: 'arc'
                }
            },

            exporting: {
                enabled: false
            },

            tooltip: {
                enabled: false
            },

            // the value axis
            yAxis: {
                stops: [
                    [0.1, '#55BF3B'], // green
                    [0.5, '#DDDF0D'], // yellow
                    [0.9, '#DF5353'] // red
                ],
                lineWidth: 0,
                tickWidth: 0,
                minorTickInterval: null,
                tickAmount: 2,
                title: {
                    y: -70
                },
                labels: {
                    y: 16
                }
            },

            plotOptions: {
                solidgauge: {
                    dataLabels: {
                        y: 5,
                        borderWidth: 0,
                        useHTML: true
                    }
                }
            }
        };

        // The speed gauge
        var chartSpeed = Highcharts.chart('container-temp', Highcharts.merge(gaugeOptions, {
            yAxis: {
                min: -10,
                max: 40,
                title: {
                    text: 'Temperature'
                }
            },

            credits: {
                enabled: false
            },

            series: [{
                name: 'Speed',
                data: [null],
                dataLabels: {
                    format:
                        '<div style="text-align:center">' +
                        '<span style="font-size:25px">{y}</span><br/>' +
                        '<span style="font-size:12px;opacity:0.4">Celsius</span>' +
                        '</div>'
                },
                tooltip: {
                    valueSuffix: ' Celsius'
                }
            }]

        }));

        // The RPM gauge
        var chartRpm = Highcharts.chart('container-rpm', Highcharts.merge(gaugeOptions, {
            yAxis: {
                min: 0,
                max: 5,
                title: {
                    text: 'Humidity'
                }
            },

            series: [{
                name: 'RPM',
                data: [1],
                dataLabels: {
                    format:
                        '<div style="text-align:center">' +
                        '<span style="font-size:25px">{y:.1f}</span><br/>' +
                        '<span style="font-size:12px;opacity:0.4">' +
                        '%' +
                        '</span>' +
                        '</div>'
                },
                tooltip: {
                    valueSuffix: ' %'
                }
            }]

        }));
        /*
        */

        // Data to gauge
        setInterval(function () {
            var requests = $.get('/data');

            var notUsed = requests.done(function (result){
                var data1 = [];
                data1.push(result[0]);
                data1.push(result[1]);

                var data2 = [];
                data2.push(result[0]);
                data2.push(result[2]);
            });

            // Temp
            var point,
                newVal,
                inc;

            if (chartSpeed) {
                point = chartSpeed.series[0].points[0];
                newVal = point.y + Math.round(data2[1]);

                point.update(newVal);
            }

            // Hum
            if (chartRpm) {
                point = chartRpm.series[0].points[0];
                inc = Math.random() - 0.5;
                newVal = point.y + inc;

                if (newVal < 0 || newVal > 5) {
                    newVal = point.y - inc;
                }

                point.update(newVal);
            }
        }, 10000);
    </script>
</body>

</html>